h1, .jumbotron {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	color: #fff;
}

.jumbotron {
	background-image: url("../images/header-img.jpg");
}

body {
	font-family: font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

img {
	width: 400px;
	height: 400px;
}

.btn { 
  color: #ffffff; 
  background-color: #B8A351; 
  border-color: #FFFFFF; 
} 
 
.btn:hover, 
.btn:focus, 
.btn:active, 
.btn.active, 
.open .dropdown-toggle.btn { 
  color: #ffffff; 
  background-color: #000000; 
  border-color: #FFFFFF; 
} 
 
.btn:active, 
.btn.active, 
.open .dropdown-toggle.btn { 
  background-image: none; 
} 
 
.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn, 
.btn.disabled:hover, 
.btn[disabled]:hover, 
fieldset[disabled] .btn:hover, 
.btn.disabled:focus, 
.btn[disabled]:focus, 
fieldset[disabled] .btn:focus, 
.btn.disabled:active, 
.btn[disabled]:active, 
fieldset[disabled] .btn:active, 
.btn.disabled.active, 
.btn[disabled].active, 
fieldset[disabled] .btn.active { 
  background-color: #B8A351; 
  border-color: #FFFFFF; 
} 
 
.btn .badge { 
  color: #B8A351; 
  background-color: #ffffff; 
}